.hidden {
    opacity: 0;
    display: none;
}

.visible {
    opacity: 1;
    display: block;
}

.anim {
    transition-property: opacity;
    transition-duration: .5s;
    transition-timing-function: linear;
}

